.header {
  width: 100%;
}
.nav-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10vh;
}
img {
  grid-column: 2/3;
  align-self: center;
  justify-self: end;
  height: 100%;
}
.menu-toggle {
  grid-column: 1/2;
  align-self: center;
  justify-self: center;
  color: rgb(47, 138, 218);
  border: 1.5px solid rgba(99, 99, 99, 0.7);
  border-radius: 50%;
}
/* .menu-toggle:hover {
  color: rgba(194, 143, 95, 0.8);
} */

/************* MENU LATERAL ************/
.menu{
  position: absolute;
  left: -100%;
  top: 10.6vh;
  z-index: 2;
  height: 100%;
  color: #f0b37d; /* RGB (240,179,125)*/
}

.menu-row {
  display: flex;
  height: 60px;
  justify-content: flex-start;
  background-color: #2f4f63;     /* RGB (47,79,99) */
  border-bottom: 1px solid  #f0b37d;
  z-index: 3;
}
.empty, .empty1, .empty2{
  height: 20vh;
  background-color: #2f4f63;     /* RGB (47,79,99) */
  z-index: 3;
}
.abre{
  left: 0;
}
.fecha{
  transition: 5s;
}
li {
  justify-self: center;
}
.nav-link {
  color: #f1f1f1;
}

@media (max-width: 400px) {
  img {
    height: 50%;
  }
}
