.logo-container {
  background-size: cover;
  display: flex;
  justify-content: center;
  /* align-content: center; */

}
.logo-home {
  height: 70px;
  position: absolute;
  top: 290px;  
}

.txt{
    margin: auto;
    color:#f1f1f1e5;
}
#mostra{
    display: content;
}
#i{
    display: none;
}