.main{
  display: flex;
  flex-direction: column;
}
.logo-container {
  display: flex;
  justify-content: center;

}
.logo-home {
  height: 70px;
  position: absolute;
  top: 290px;  
}
.text-container{
  background-color: cadetblue;
}
.heart{
  background-color: white;
  color: #ff0505;
}
.heart::after{
  content: "";

}