.conteudo{
  margin: 10px 0px ;
  display: flex;
/*  align-items: center;*/
  justify-content: center; 
  height: 120vh;
}

@media(max-width: 400px){
  .conteudo{
    width: 100%;
    height: 70vh;
    background-color: blue;
  }
}